
.generalContanier{
    height: fit-content;
    min-height: 100vh;
    width: 96vw;
    background-color: #FFFDE9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw 2vw;
}

input{
    border: none;
    font-size: 2vw;
    width: fit-content;
    text-align: center;
    border-bottom: 2px solid black;
    font-family: 'Darker Grotesque', sans-serif;
}