<<<<<<< HEAD

.generalContainer{
    justify-content: center;
    margin-top: auto;
}


=======
.payContainer{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mountContainer{
    background-color: white;

}
>>>>>>> 10d5bf531b0546c626a59b1bbcdc4d106943bd8c

