@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Quattrocento&display=swap');

.logo-container img{
    width: 4vw;
    height: 4vw;
    object-fit: contain;
    margin-right: 1vw;
 
}

.navbar-middle a:first-of-type{
    margin-left: 0;
}
.logo-container a{
    
    font-size: 3.5vh;
    font-family: 'FONTSPRING DEMO - The Seasons';
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 
    
}
.navbar-menu{
  
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}

.navbar-menu:hover > .navbar-menu-line1{
   width:2.3vw ;
}
.navbar-menu:hover >.navbar-menu-line2{
    width:2.3vw ;
}
.navbar-menu-line1{
    height: 0.2vw;
    width: 2vw;
    background-color: black;
    margin-bottom: 0.5vw;
    border-radius: 100vw;
    transition: 1s;
}
.navbar-menu-line2{
    height: 0.2vw;
    width: 2vw;
    margin-bottom:  0.5vw;
    margin-left: 30%;
    background-color: black;
    border-radius: 100vw;
    transition: 1s;
}

.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    height: fit-content;
    background-color: #F2E346;
    z-index: 20;
    top: 0;
    left: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    
}

.menu-open{
    left: 0;
}



.menu-container{
 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
}
.close-menu{
    position: absolute;
    top: 2vw;
    right: 2vw;
    outline: none;
    background: none;
    border: none;
}

.close-menu-icon{
    font-size: 4vw;
    transition: 1s;
    cursor: pointer;
}

.close-menu:hover > .close-menu-icon{
    font-size: 4.5vw;
}
.menu-container::-webkit-scrollbar{
    display: none;
  }
.menu-item > h1{
    font-size: 8vw;
    transition: 1s;
    margin:0;
    cursor: pointer;
    font-family: 'FONTSPRING DEMO - The Seasons';
}

.menu-item:hover > a{
    font-size: 9vw;
}
.menu-item{
 
    display: flex;
    flex-direction: column;
    height: fit-content;
    background:none;
    outline: none;
    border: none;
}

.menu-underline{
    background-color: black;
    width: 0;
    height: 1.5vw;
    transition: 1s;

}
.menu-item:hover > .menu-underline{
    width: 100%;
}


.logo-container{
    width: 96vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:1vw 2vw;
    position: absolute;
    z-index: 100;
 
}

.logo-text{
    position: absolute;
    width: 10vh;
    left: 15vh;
    top:5vh;
    font-size: 3.5vh;
    font-family: 'FONTSPRING DEMO - The Seasons';
}


.navbar-middle{
    text-align: center;
    font-size: 9vh;
   display: flex;
   flex-direction: row;
  margin-top: 5vh;
    font-family: 'FONTSPRING DEMO - The Seasons';
 
    width: 96vw;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.navbar-middle a{
    margin-left: 3vh; 
    font-size: 5vw;
    transition: 0.5s;
}
.navbar-middle a:hover{
  color: white;
}

.navbar-right {
    text-align: end;
    display: flex;
    flex-direction: row;


  }

  .navbar-right a {
    margin-left: 5vh;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.2vh;
  }


nav a{
    color: black;

  
    transition: 0.3s;
  
    
    
}

nav {
    padding: 3vh;
}

nav a:hover{
    color: white;
   
}



  @media only screen and (orientation: portrait) and (max-width:1500px) {
    .navbar-menu-line1{
        height: 0.5vw;
        width: 5vw;
        margin-bottom: 1.5vw;
      }
      .navbar-menu-line2{
        height: 0.5vw;
        width: 5vw;
        margin-bottom: 1.5vw;
      }

      .navbar-menu:hover > .navbar-menu-line1{
        width: 5.5vw;
      }
      .navbar-menu:hover > .navbar-menu-line2{
        width: 5.5vw;
      }
      .logo-container{
        padding: 3vw 5vw;
        width: 90vw;
      }
      .logo-container img{
        width: 8vw;
        height: 8vw;
      }
      .navbar-middle{
      margin-top: 20vh;     
        width: 90vw;
    }
    .logo-container a{
        font-size: 4vw;
    }
    .navbar-right a{
        margin-left:2vw;
    }
    .navbar-middle a{
        font-size: 8vw;
    }
  }

  @media only screen and (orientation: landscape) and (max-width:1500px) {
   
 
      .navbar-middle{
      margin-top: 20vh;     
        width: 90vw;
    }
    .logo-container a{
        font-size: 2vw;
    }
    .navbar-right a{
        margin-left:2vw;
    }
    .navbar-middle a{
        font-size: 5vw;
    }
  }

  @media only screen and (orientation: portrait) and (max-width:1000px) {
    .close-menu-icon {
      font-size: 10vw;
    }
    .close-menu {
        top: 4vw;
      right: 4vw;
      }
      .menu-item > h1{
        font-size: 12vw;
      }
      .navbar-menu-line1{
        height: 0.6vw;
        width: 6vw;
        margin-bottom: 2vw;
      }
      .navbar-menu-line2{
        height: 0.6vw;
        width: 6vw;
        margin-bottom: 2vw;
      }

      .navbar-menu:hover > .navbar-menu-line1{
        width: 6.5vw;
      }
      .navbar-menu:hover > .navbar-menu-line2{
        width: 6.5vw;
      }
      .logo-container{
        padding: 5vw 5vw;
        width: 90vw;
      }
      .logo-container img{
        width: 10vw;
        height: 10vw;
        margin-right: 3vw;
      }
      .logo-container a{
        font-size: 5vw;
      }

      .navbar-middle{
        margin-top: 20vh;     
          width: 90vw;
      }
      .logo-container a{
          font-size: 4vw;
      }
      .navbar-right a{
          margin-left:2vw;
      }
      .navbar-middle a{
          font-size: 8vw;
      }
   
  }




  @media only screen and (orientation: portrait) and (max-width:500px) {
   
 
    .navbar-middle{
    margin-top: 10vh;     
      width: 90vw;
  }
  .logo-container a{
      font-size: 4vw;
  }
  .navbar-right a{
      margin-left:2vw;
  }
  .navbar-middle a{
      font-size: 5vw;
  }
}

@media screen and (min-width:1500px) {
.navbar-middle{
    margin-top: 20vh;
}
}