@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Quattrocento&display=swap');

.logo-container img{
    width: 10vh;
 
}

.logo-container a{
    
    font-size: 3.5vh;
    font-family: 'FONTSPRING DEMO - The Seasons';
    color: black;
   
}

.logo-container{
   
    width: 40vh;
}

.logo-text{
    position: absolute;
    width: 10vh;
    left: 15vh;
    top:5vh;
    font-size: 3.5vh;
    font-family: 'FONTSPRING DEMO - The Seasons';
}


.navbar-middle{
    text-align: center;
    font-size: 9vh;
    margin-top: -6vh;
    font-family: 'FONTSPRING DEMO - The Seasons';
}

.navbar-middle a{
    margin-left: 3vh; 
}

.navbar-right {
    position: absolute;
    top: 6vh;
    right: 7vh;
    text-align: end;


  }

  .navbar-right a {
    margin-left: 3vh;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.2vh;

  }


nav a{
    color: black;

  
    transition: 0.3s;
  
    
    
}

nav {
    padding: 3vh;
}

nav a:hover{
    color: white;
   
}

@media screen and (max-width:390px){
    .navbar-middle{
        text-align: center;
        font-size: 4.5vh;
        margin-top: 5vh;
        font-family: 'FONTSPRING DEMO - The Seasons';
    }

    .logo-container img{
        width: 5vh;
     
    }
    
    .logo-container a{
        
        font-size: 2.2vh;
        font-family: 'FONTSPRING DEMO - The Seasons';
        color: black;
        
    }
    
    .logo-container{
       
        width: 30vh;
    }
    
    .logo-text{
        position: absolute;
        width: 10vh;
        left: 10vh;
        top:5vh;
        font-size: 3.5vh;
        font-family: 'FONTSPRING DEMO - The Seasons';
    }

    .navbar-right {
        position: absolute;
        top: 5.5vh;
        right: 4.5vh;
        text-align: end;
        line-height: 2.5vh;
    
    
      }
    
      .navbar-right a {
        margin-left: 20vh;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 2.2vh;
      }
    
}

