.container{
    width: 100vw;
    min-height: 100vh;
    background-color: #FFFDE9;
}

.content{
    width: 96%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10vh;
    padding: 2vw;
    flex-direction: column;
}
.topbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.topbar > button {
    border: none;
    background-color: black;
    color: white;
    outline: none;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    font-family: 'Darker Grotesque', sans-serif; 
    margin-right:1vw; 
    transition: 0.5s;
    cursor: pointer;
}

.topbar > button:hover{
    background-color: #FBCCFA;
    color: black;
}
.topbar > select{
    border: none;
    background-color: #F2E346;
    color: black;
    outline: none;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    font-family: 'Darker Grotesque', sans-serif;
}

table{
    margin-top:5vh;
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    width: 96vw;

  }

  th,td{
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    color: black;
    padding: 0.5vw 2vw; 
    padding-left: 0.5vw;
    font-size: 1vw;
    text-align: left;
    font-family: 'Darker Grotesque', sans-serif !important;
  }

  .modal{
    background-color: #F2E346;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .modalActive{
    background-color: #F2E346;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: 1s;
    height: 100vh;
    overflow-y: scroll;
  }

  .closeModal{
    color: black;
    position: absolute;
    top:2vw;
    right: 2vw;
    font-size: 3vw;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
  }

  .closeModal:hover{
    opacity: 1;
  }

  .modalContent{
    width:100%;
    height: 100%;
    min-height: 100vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
  }

  .modalContent h1{
    font-family: 'FONTSPRING DEMO - The Seasons';
    color: black;
    font-size: 3vw;
  }

  .input > input{
    border:none;
    border-bottom: 2px solid black;
    font-size: 2vw;
    opacity: 0.5;
    transition: 0.5s;
  }


  .input > input:focus{
    border:none;
    border-bottom: 2px solid black;
    font-size: 2vw;
    opacity: 1;
  }

  .input > select{
    border:none;
    border-bottom: 2px solid black;
    font-size: 2vw;
    opacity: 0.5;
    width: 100%;
    font-family: 'Darker Grotesque', sans-serif; 
    text-transform: uppercase;
    transition: 0.5s;
    outline: none;
    background-color: transparent;
  }


  .input > select:focus{
    border:none;
    border-bottom: 2px solid black;
    font-size: 2vw;
    opacity: 1;
  }


  .input > textarea{
    border: 2px solid black;
    font-size: 2vw;
    opacity: 0.5;
    width: 100%;
    font-family: 'Darker Grotesque', sans-serif; 
    text-transform: uppercase;
    transition: 0.5s;
    outline: none;
    color: black;
    background-color: transparent;
    resize: none;
    width: 100%;
    height: 30vh;

}
.input > textarea::placeholder{
    font-size: 2vw;
    opacity: 1;
    color: black;
  }


  .input > textarea:focus{
    font-size: 2vw;
    opacity: 1;
  }

  .input{
    width: 40vw;
    margin-bottom: 5vh;
  }

  .modalContent > button{
    border: none;
    background-color: black;
    color: white;
    outline: none;
    padding: 1vw 4vw;
    font-size: 1.5vw;
    font-family: 'Darker Grotesque', sans-serif; 
    margin-right:1vw; 
    transition: 0.5s;
    cursor: pointer;
    max-width: fit-content;
    margin-bottom: 5vh;
  }

 .picContainer{
    height: fit-content;
    margin-bottom: 5vh;
    width: 40vw;
  }

  .picContainer > img{
    width: 20vw;
    height: 20vw;
    border-radius: 100vw;
  }

  .timeSlots{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .time{
    font-family: 'Darker Grotesque', sans-serif; 
    color: black;
    background-color: transparent;
    margin-right:1vw;
    margin-bottom:1vw;
    border:1px solid black;
    padding: 0.5vw 0.8vw;
    transition: 0.5s;
    cursor: pointer;
  }

  .input > h1{
    font-family: 'Darker Grotesque', sans-serif; 
    font-size: 2vw;
    text-transform: uppercase;
  }

  .timeActive{
    color: white;
    background-color: black; 
    font-family: 'Darker Grotesque', sans-serif; 
    margin-right:1vw;
    margin-bottom:1vw;
    border:1px solid black;
    padding: 0.5vw 0.8vw;
    transition: 0.5s;
    cursor: pointer;
  }

  .timeActive:hover{
    color: black;
    background-color: transparent;
  }
  .time:hover{
    color: white;
    background-color: black;
  }

  .rowHover{
    transition: 0.5s;
    cursor: pointer;
  }
  .rowHover:hover{
    background-color: #F2E346;
  }

  @media screen and (max-width:1200px) {
    table{
      margin-top:5vh;
      border-width: 1px;
      border-spacing: 0px;
      border-style: solid;
      border-color: black;
      border-collapse: collapse;
      width: 96%;
  
    }

    th,td{
      border-width: 1px;
      border-spacing: 0px;
      border-style: solid;
      border-color: black;
      border-collapse: collapse;
      color: black;
      padding: 0.5vw 2vw; 
      padding-left: 0.5vw;
      font-size: 5vw !important;
      text-align: left;
      font-family: 'Darker Grotesque', sans-serif !important;
    }

    .topbar{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
  }
  
  .topbar > button {
      border: none;
      background-color: black;
      color: white;
      outline: none;
      padding: 0.5vw 1vw;
      font-size: 5vw !important ;
      font-family: 'Darker Grotesque', sans-serif; 
      margin-right:1vw; 
      transition: 0.5s;
      cursor: pointer;
      margin-bottom: 2vh;
  }

  .topbar >select{
    padding: 0.5vw 1vw;
    font-size: 5vw !important ;
    margin-bottom: 2vh;
  }

  }


