@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600&family=Hind:wght@300&family=Quattrocento&display=swap');

.mision{
    background-color: #FFFDE9;
    height: 70vh;
    color: black;
    padding: 10vh;
   
    
}

.titulos{
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-weight: bold;
    font-size: 7vh;

}

.parrafos{
    font-family: 'Darker Grotesque', sans-serif;
    padding-right: 20vh;
    font-size: 3vh;
   margin-bottom: 10vh;

}

.portada{
    height: 78vh;
    background-color: #F2E346;
}

.localidades{
    background-color: #FFFDE9;
    height: 72vh;
    color: black;
    padding: 10vh;
    position: relative;
    right: 0;
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-size: 6vh;
}

.titulo-localidades{
    position: absolute;
    top: 4vh;
    right: 45vh;
    text-align: end;
}

.square{
    position: absolute;
    width: 40vh;
    height: 50vh;
    background-color: #F2E346;
    right: 100vh;
    border-top-left-radius: 20vh;
    border-top-right-radius: 20vh;
  
}

.imagen{
    position: absolute;
    width: 35vh;
    height: 45vh;
    right: 2.5vh;
    top: 2vh;
    border-top-left-radius: 20vh;
    border-top-right-radius: 20vh;
    object-fit: cover;
}

.info-l{
    position: absolute;
    width: 35vh;
    height: 45vh;
    right: 62vh;
    top: 30vh;
    font-size: 2vh;
}

.escultura{

    height: 85vh;
    margin-left: 22vh;
    margin-top: -7vh;
}

.aventuras{
    position: absolute;
    font-family: 'FONTSPRING DEMO - The Seasons';
    top: 45vh;
    left: 12vh;
    color: black;
    font-size: 7vh;
    font-weight: bold;
    margin-bottom: 2vh;


}

.aventuras-info{

    font-family: 'Darker Grotesque', sans-serif;
    margin-top: -42vh;
    margin-left: 11.5vh;
    color: black;
    font-size: 2.5vh;
   
    
}

.b{
    background-color: black;
    color:#FFFDE9;
    height: 5vh;
    width: 23vh;
    border-color: black;
    margin-left: 11vh; 
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2vh;
    border:none;
    cursor: pointer;
    transition: 0.5s;
 
  
}

.b:hover{

    background-color: white;
    color: black;

  
}

.nuevo-evento{
    position: relative;
    color:black;
    margin-left: 130vh;
    text-align: justify;
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-weight: 700;
}

.nuevo-evento-title{
    position: relative;
    color:black;
    margin-top: -30vh;
    margin-left: 130vh;
    text-align: justify;
    font-size: 3.5vh;
   
  
    margin-bottom: -2vh;
    font-family: 'Darker Grotesque', sans-serif;

}

.sentimiento{
    position: relative;
    color:black;
    margin-left: 130vh;
    text-align: justify;
    font-family: 'FONTSPRING DEMO - The Seasons';
    width: 30vh;
    font-weight: 700;
    
}

.sentimiento-title{
    position: relative;
    color:black;
    margin-top: 2vh;
    margin-left: 130vh;
    text-align: justify;
    font-size: 3.5vh;
    margin-bottom: -2vh;
    font-family: 'Darker Grotesque', sans-serif;
}

.aprende-mas{
    position: relative;
    color:#5290D1;
    margin-top: -2vh;
    margin-left: 130vh;
    text-align: justify;
    font-size: 3vh;
    margin-bottom: 0vh;
    font-family: 'FONTSPRING DEMO - The Seasons';
    border-bottom: 0.5vh solid white;
    width: 18vh;
}

.plus{
    position: relative;
    font-weight: bold;
    font-size: 15vh;
    margin-top: -54vh;
    margin-left: 127vh;
  
}

.minus{
    position: relative;
    font-size: 15vh;
    margin-top: -50vh;
    margin-left: 2vh;
    background-color: aqua;
    height: 0;
}