.container {
    height: 110vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFDE9;
  }
.heading{
    text-align: center;
    font-family: 'FONTSPRING DEMO - The Seasons';
    font-style: normal; 
    font-size: 17vh;
    margin-top: -23vh;
    color: #000000;   
}
.google{
    position: absolute;
    width: 40vh;
    height: 8vh;
    left: 41vh;
    top: 10vh;
    background-color: #F2E346;
    border: none;
    color: black;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.5vh;
    transition: 0.5s;
}
.boton{
    position: absolute;
    width: 40vh;
    height: 8vh;
    left: 41vh;
    top: 20vh;
    background-color: black;
    border: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.5vh;
    transition: 0.5s;
   
}
  .innerBox {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
   
    padding: 30px;
    border-radius: 0vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .footer {
    position: relative;
    font-family: 'Darker Grotesque', sans-serif;
    top: -5vh;
    font-size: 3vh;
    text-align: center;
  }
  
  .footer .error {
    font-weight: bold;
    font-size: 2vh;
    color: #ff3300;
   
  }
  .footer button:disabled {
    background-color: gray !important;
  }
  
  .footer button:hover {
    background-color: gray;
    color: black
  }
  
  .footer p {
    font-weight: 700;
    color: #000;
  }
  
  .footer p span a {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 3vh;
    text-decoration: underline;
    color: gray;
  
  }

  .footer p span a:hover{
    color: #F2E346;
  }




 